In [5]:
22/7, 22//7 #only integer part

(3.142857142857143, 3)

In [1]:
a = 57
print("This is {a}")
print(f"This is {a}")

This is {a}
This is 57

In [7]:
#3 condition with lambda function
k = lambda x,y: 3 if x>y else 1 if x==0 else 0
k(2,4), k(0,4), k(7,4)

(0, 1, 3)

In [7]:
#Split string by given character
RunWise_Zone["Machine"] = RunWise_Zone["RunNo"].apply(lambda x: x.split('-')[0])
RunWise_Zone.head()

     RunNo      ZONE Machine
0   AA1-41  0.066667     AA1
1   AA1-42  0.214286     AA1
2   AA1-45  0.642857     AA1
3   AA1-46  0.083333     AA1
4  AA10-48  0.307692    AA10

In [1]:
#sorting dataframe column 

def add_sorting_rank_to_column(temp_df, column_name, ascending_order=True):
    temp_df[column_name] = pd.to_numeric(temp_df[column_name])
    temp_df = temp_df.sort_values(by=[column_name], ascending=ascending_order).reset_index()
    temp_df.index.name = column_name + "_rank"
    temp_df = temp_df.reset_index()
    temp_df[column_name + "_rank"] += 1
    temp_df.index.name = "delete_" + column_name
    return temp_df
#===========================================================================================

MachineWise_Zone = add_sorting_rank_to_column(MachineWise_Zone,"ZONE")
MachineWise_Zone = MachineWise_Zone.set_index("index")
MachineWise_Zone = MachineWise_Zone.sort_index()
if MachineWise_Zone.index[0] == 0:
    MachineWise_Zone.index += 1

In [ ]:
#Display all the rows which have null  values
len(MachineWise_Zone[MachineWise_Zone.isna().any(axis=1)])

In [ ]:
#Fill all null values with 0
MachineWise_Zone.ZONE.fillna(0, inplace=True)

In [ ]:
#check excel file in given path, & then create excel file
if os.path.exists("MachineWise_ZoneRank.xlsx"):
    os.remove("MachineWise_ZoneRank.xlsx")
    
MachineWise_Zone.to_excel("MachineWise_ZoneRank.xlsx", index_label="ID", header=1)

In [1]:
#Finding all combination in the list those have sum is given number

def subset_sum(numbers, target, partial=[]):
    s = sum(partial)

    # check if the partial sum is equals to target
    if s == target:            #(if fixed figure check out)
    #if s>=123.00 and s<128.00: #(if range check out)
        print ("sum(%s)=%s" % (partial, target))
    if s >= target:
        return  # if we reach the number why bother to continue
    
    for i in range(len(numbers)):
        n = numbers[i]
        remaining = numbers[i+1:]
        subset_sum(remaining, target, partial + [n]) 
   

subset_sum([3,9,8,4,5,7,10],17)

sum([3, 9, 5])=17
sum([3, 4, 10])=17
sum([9, 8])=17
sum([8, 4, 5])=17
sum([7, 10])=17

In [2]:
#Conditionally sort a single column in ascending and descending order in Pandas
import pandas as pd
df = pd.DataFrame(data={'class':['A','A','A','B','B','B','C','C','C'],
                        'val':[20,10,15,55, 75, 71,3,1,2],
                        'sub':['a','c','b','b','a','c','c','a','b']})
print(df)

order = {'A': True, 'B': False, 'C': True}
df = (df.groupby('class', group_keys=False)
   .apply(lambda s: s.sort_values(by='val', ascending=order[s.name]))
)

print("\n=====================\n")
print(df)

  class  val sub
0     A   20   a
1     A   10   c
2     A   15   b
3     B   55   b
4     B   75   a
5     B   71   c
6     C    3   c
7     C    1   a
8     C    2   b

=====================

  class  val sub
1     A   10   c
2     A   15   b
0     A   20   a
4     B   75   a
5     B   71   c
3     B   55   b
7     C    1   a
8     C    2   b
6     C    3   c

In [8]:
#Sort multiple columns in different order with null value first rank or last rank
import numpy as np
import pandas as pd
 
df = pd.DataFrame({'Name': ['Raj', 'Akhil', 'Sonum', 'Tilak', 'Divya', 'Megha'],
                   'Age': [20, 22, 21, 19, 17, 23],
                   'Rank': [1, np.nan, 8, 9, 4, np.nan]})
 
print(df.sort_values(by = ['Rank', 'Age'], ascending = [True, False], na_position = 'first'))
print("\n====================\n")
print(df.sort_values(by = ['Rank', 'Age'], ascending = [True, False], na_position = 'last'))

    Name  Age  Rank
5  Megha   23   NaN
1  Akhil   22   NaN
0    Raj   20   1.0
4  Divya   17   4.0
2  Sonum   21   8.0
3  Tilak   19   9.0

====================

    Name  Age  Rank
0    Raj   20   1.0
4  Divya   17   4.0
2  Sonum   21   8.0
3  Tilak   19   9.0
5  Megha   23   NaN
1  Akhil   22   NaN