In [22]:
import pandas as pd
import numpy as np
import os
from collections import Counter

from sklearn.preprocessing import LabelEncoder

In [2]:
mainDF = pd.read_excel("Data\\September_09\\KapanGradingData.xlsx")

In [3]:
mainDF.columns

Index(['#1', 'Month', 'Unit', 'Floor', 'Machine', 'Kapan No', 'Barcode',
       'Category', 'Recipe', 'Stop Reasons', 'Ini Cts', 'Initial Color',
       'Grading Color', 'Initial Clarity', 'Grading Clarity'],
      dtype='object')

In [4]:
final_color = mainDF[["Machine","Grading Color",]]
final_color = final_color.rename(columns={"Grading Color":"Grading_Color"})

In [5]:
final_color.

      Machine Grading_Color
0         CB9             H
1         CB9             I
2         CB9             H
3         CB9             H
4         CB9             H
...       ...           ...
51693    AG48             H
51694    AG48             H
51695    AG48             H
51696    AG48             I
51697     NaN           NaN

[51698 rows x 2 columns]

In [6]:
final_color.isnull().sum()

Machine          1
Grading_Color    1
dtype: int64

In [7]:
final_color = final_color.dropna()

In [8]:
final_color.isnull().sum()

Machine          0
Grading_Color    0
dtype: int64

In [9]:
final_color.nunique()

Machine          1026
Grading_Color       7
dtype: int64

In [10]:
final_color.Grading_Color.unique()

array(['H', 'I', 'J', 'N', 'K', 'L', 'M'], dtype=object)

In [17]:
final_color = final_color.groupby(["Machine"])["Grading_Color"].agg(lambda x: ','.join(x.dropna())).reset_index()

In [19]:
final_color.head()

  Machine                                      Grading_Color
0     AA1  H,H,H,H,H,H,H,H,H,H,H,H,H,H,H,H,H,H,H,H,H,H,H,...
1    AA10  H,H,H,H,H,H,H,I,H,H,H,H,H,H,I,I,I,H,H,H,H,H,H,...
2    AA11  H,H,H,I,I,I,I,I,I,H,H,I,I,I,H,H,H,I,I,H,H,H,H,...
3    AA12  H,H,H,H,I,H,H,H,H,I,I,I,I,H,H,H,H,H,H,H,I,H,H,...
4    AA13  I,I,H,H,H,H,H,H,H,H,H,I,H,H,I,H,I,H,H,H,H,H,H,...

In [23]:
final_color["color_counts"] = final_color["Grading_Color"].str.split(',')
final_color["color_counts"] = final_color["color_counts"].apply(lambda x: Counter(x))
final_color["color_counts"] = final_color["color_counts"].apply(lambda x: dict(x))

In [44]:
final_color

     Machine                color_counts
1        AA1           {'H': 32, 'I': 3}
2       AA10          {'H': 49, 'I': 10}
3       AA11          {'H': 48, 'I': 17}
4       AA12           {'H': 42, 'I': 9}
5       AA13           {'I': 8, 'H': 36}
...      ...                         ...
1022    CC16           {'H': 46, 'I': 8}
1023    CC17  {'H': 39, 'I': 15, 'J': 2}
1024    CC20   {'H': 32, 'I': 9, 'J': 1}
1025    CC21  {'I': 15, 'H': 38, 'J': 1}
1026    CC22   {'H': 9, 'I': 15, 'J': 4}

[1026 rows x 2 columns]

In [26]:
final_color = final_color[["Machine", "color_counts"]]

In [41]:
if final_color.index[0] == 0:
    final_color.index += 1

In [42]:
if os.path.exists("colorReport_2.xlsx"):
    os.remove("colorReport_2.xlsx")
    
final_color.to_excel("colorReport_2.xlsx", header=1, index_label="ID")