In [1]:
import pandas as pd
import numpy as np
import os

from sklearn.preprocessing import LabelEncoder

In [2]:
mainDF = pd.read_excel("Data\\September_09\\KapanGradingData.xlsx")

In [3]:
mainDF.columns

Index(['#1', 'Month', 'Unit', 'Floor', 'Machine', 'Kapan No', 'Barcode',
       'Category', 'Recipe', 'Stop Reasons', 'Ini Cts', 'Initial Color',
       'Grading Color', 'Initial Clarity', 'Grading Clarity'],
      dtype='object')

In [4]:
final_color = mainDF[["Machine","Kapan No","Grading Color",]]
final_color = final_color.rename(columns={"Kapan No":"Kapan_No", "Grading Color":"Grading_Color"})

In [5]:
final_color

      Machine Kapan_No Grading_Color
0         CB9  CB9-105             H
1         CB9  CB9-105             I
2         CB9  CB9-105             H
3         CB9  CB9-105             H
4         CB9  CB9-105             H
...       ...      ...           ...
51693    AG48   AG48-3             H
51694    AG48   AG48-3             H
51695    AG48   AG48-3             H
51696    AG48   AG48-3             I
51697     NaN      NaN           NaN

[51698 rows x 3 columns]

In [6]:
final_color.isnull().sum()

Machine          1
Kapan_No         1
Grading_Color    1
dtype: int64

In [7]:
final_color = final_color.dropna()

In [8]:
final_color.isnull().sum()

Machine          0
Kapan_No         0
Grading_Color    0
dtype: int64

In [9]:
final_color.nunique()

Machine          1026
Kapan_No         3914
Grading_Color       7
dtype: int64

In [10]:
final_color.Grading_Color.unique()

array(['H', 'I', 'J', 'N', 'K', 'L', 'M'], dtype=object)

In [11]:
le = LabelEncoder()

In [12]:
final_color["color_rank"] = le.fit_transform(final_color["Grading_Color"])
final_color["color_rank"] += 1

C:\Users\Administrator\AppData\Local\Temp\ipykernel_4028\1260053966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_color["color_rank"] = le.fit_transform(final_color["Grading_Color"])
C:\Users\Administrator\AppData\Local\Temp\ipykernel_4028\1260053966.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_color["color_rank"] += 1

In [13]:
final_color.color_rank.unique()

array([1, 2, 3, 7, 4, 5, 6])

In [14]:
final_color

      Machine Kapan_No Grading_Color  color_rank
0         CB9  CB9-105             H           1
1         CB9  CB9-105             I           2
2         CB9  CB9-105             H           1
3         CB9  CB9-105             H           1
4         CB9  CB9-105             H           1
...       ...      ...           ...         ...
51692    AG48   AG48-3             H           1
51693    AG48   AG48-3             H           1
51694    AG48   AG48-3             H           1
51695    AG48   AG48-3             H           1
51696    AG48   AG48-3             I           2

[51697 rows x 4 columns]

In [15]:
if(final_color.index[0]==0):
    final_color.index += 1

In [17]:
if os.path.exists("colorReport_1.xlsx"):
    os.remove("colorReport_1.xlsx")
    
final_color.to_excel("colorReport_1.xlsx",index_label="ID",header=1)