In [3]:
import pandas as pd
import numpy as np
import os
import operator
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [4]:
df = pd.read_excel(r'sample.xlsx', sheet_name='Final Sheet For Approval')
df.columns

Index(['BLGD SELECTION', 'BARCODE', 'ROUGH', 'T. POLISH', 'ROUGH GREAD ',
       'TOTAL YIELD ', 'TOTAL VALUE', 'TP RCRT', 'TRYld', 'TOP-1 SHAPE NAME',
       'TOP-1 POLISH WAIGHT-2', 'TOP-1 CUT GRADE', 'TOP-1 VALUE',
       'TOP-2 SHAPE NAME', 'TOP-2 POLISH WAIGHT-2', 'TOP-2 CUT GRADE-2',
       'TOP-3 SHAPE NAME', 'TOP-3 POLISH WAIGHT', 'TOP-3 CUT GRADE',
       'TOP-4 SHAPE NAME', 'TOP-4 POLISH WAIGHT', 'TOP-4 CUT GRADE',
       'TOP-5 SHAPE NAME', 'TOP-5 POLISH WAIGHT-2', 'TOP-5 CUT GRADE-2',
       'TOP-6 SHAPE NAME', 'TOP-6 POLISH WAIGHT', 'TOP-6 CUT GRADE',
       'TOP-7 SHAPE NAME', 'TOP-7 POLISH WAIGHT', 'TOP-7 CUT GRADE',
       'TOP-8 SHAPE NAME', 'TOP-8 POLISH WAIGHT', 'TOP-8 CUT GRADE',
       'TOP-9 SHAPE NAME', 'TOP-9 POLISH WAIGHT', 'TOP-9 CUT GRADE',
       'TOP-10 SHAPE NAME', 'TOP-10 POLISH WAIGHT', 'TOP-10 CUT GRADE',
       'TOP-11 SHAPE NAME', 'TOP-11 POLISH WAIGHT', 'TOP-11 CUT GRADE',
       'TOP-12 SHAPE NAME', 'TOP-12 POLISH WAIGHT', 'TOP-12 CUT GRADE',
       'TOP-13 SHAPE NAME', 'TOP-13 POLISH WAIGHT', 'TOP-13 CUT GRADE',
       'TOP-14 SHAPE NAME', 'TOP-14 POLISH WAIGHT', 'TOP-14 CUT GRADE',
       'TOP-15 SHAPE NAME', 'TOP-15 POLISH WAIGHT', 'TOP-15 CUT GRADE',
       'TOP-16 SHAPE NAME', 'TOP-16 POLISH WAIGHT', 'TOP-16 CUT GRADE',
       'TOP-17 SHAPE NAME', 'TOP-17 POLISH WAIGHT', 'TOP-17 CUT GRADE',
       'TOP-18 SHAPE NAME', 'TOP-18 POLISH WAIGHT', 'TOP-18 CUT GRADE',
       'TOP-19 SHAPE NAME', 'TOP-19 POLISH WAIGHT', 'TOP-19 CUT GRADE',
       'TOP-20 SHAPE NAME', 'TOP-20 POLISH WAIGHT', 'TOP-20 CUT GRADE', '1',
       '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', 'DIAMOND TYP', 'opt',
       'Unnamed: 92'],
      dtype='object')

In [21]:
df.rename(columns={'TOTAL YIELD ':'TOTAL_YIELD'},inplace=True)

In [22]:
df.columns

Index(['BLGD SELECTION', 'BARCODE', 'ROUGH', 'T. POLISH', 'ROUGH GREAD ',
       'TOTAL_YIELD', 'TOTAL VALUE', 'TP RCRT', 'TRYld', 'TOP-1 SHAPE NAME',
       'TOP-1 POLISH WAIGHT-2', 'TOP-1 CUT GRADE', 'TOP-1 VALUE',
       'TOP-2 SHAPE NAME', 'TOP-2 POLISH WAIGHT-2', 'TOP-2 CUT GRADE-2',
       'TOP-3 SHAPE NAME', 'TOP-3 POLISH WAIGHT', 'TOP-3 CUT GRADE',
       'TOP-4 SHAPE NAME', 'TOP-4 POLISH WAIGHT', 'TOP-4 CUT GRADE',
       'TOP-5 SHAPE NAME', 'TOP-5 POLISH WAIGHT-2', 'TOP-5 CUT GRADE-2',
       'TOP-6 SHAPE NAME', 'TOP-6 POLISH WAIGHT', 'TOP-6 CUT GRADE',
       'TOP-7 SHAPE NAME', 'TOP-7 POLISH WAIGHT', 'TOP-7 CUT GRADE',
       'TOP-8 SHAPE NAME', 'TOP-8 POLISH WAIGHT', 'TOP-8 CUT GRADE',
       'TOP-9 SHAPE NAME', 'TOP-9 POLISH WAIGHT', 'TOP-9 CUT GRADE',
       'TOP-10 SHAPE NAME', 'TOP-10 POLISH WAIGHT', 'TOP-10 CUT GRADE',
       'TOP-11 SHAPE NAME', 'TOP-11 POLISH WAIGHT', 'TOP-11 CUT GRADE',
       'TOP-12 SHAPE NAME', 'TOP-12 POLISH WAIGHT', 'TOP-12 CUT GRADE',
       'TOP-13 SHAPE NAME', 'TOP-13 POLISH WAIGHT', 'TOP-13 CUT GRADE',
       'TOP-14 SHAPE NAME', 'TOP-14 POLISH WAIGHT', 'TOP-14 CUT GRADE',
       'TOP-15 SHAPE NAME', 'TOP-15 POLISH WAIGHT', 'TOP-15 CUT GRADE',
       'TOP-16 SHAPE NAME', 'TOP-16 POLISH WAIGHT', 'TOP-16 CUT GRADE',
       'TOP-17 SHAPE NAME', 'TOP-17 POLISH WAIGHT', 'TOP-17 CUT GRADE',
       'TOP-18 SHAPE NAME', 'TOP-18 POLISH WAIGHT', 'TOP-18 CUT GRADE',
       'TOP-19 SHAPE NAME', 'TOP-19 POLISH WAIGHT', 'TOP-19 CUT GRADE',
       'TOP-20 SHAPE NAME', 'TOP-20 POLISH WAIGHT', 'TOP-20 CUT GRADE', '1',
       '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14',
       '15', '16', '17', '18', '19', '20', 'DIAMOND TYP', 'opt',
       'Unnamed: 92'],
      dtype='object')

In [5]:
df.head()

,BLGD SELECTION,BARCODE,ROUGH,T. POLISH,ROUGH GREAD,TOTAL YIELD,TOTAL VALUE,TP RCRT,TRYld,TOP-1 SHAPE NAME,TOP-1 POLISH WAIGHT-2,TOP-1 CUT GRADE,TOP-1 VALUE,TOP-2 SHAPE NAME,TOP-2 POLISH WAIGHT-2,TOP-2 CUT GRADE-2,TOP-3 SHAPE NAME,TOP-3 POLISH WAIGHT,TOP-3 CUT GRADE,TOP-4 SHAPE NAME,TOP-4 POLISH WAIGHT,TOP-4 CUT GRADE,TOP-5 SHAPE NAME,TOP-5 POLISH WAIGHT-2,TOP-5 CUT GRADE-2,TOP-6 SHAPE NAME,TOP-6 POLISH WAIGHT,TOP-6 CUT GRADE,TOP-7 SHAPE NAME,TOP-7 POLISH WAIGHT,TOP-7 CUT GRADE,TOP-8 SHAPE NAME,TOP-8 POLISH WAIGHT,TOP-8 CUT GRADE,TOP-9 SHAPE NAME,TOP-9 POLISH WAIGHT,TOP-9 CUT GRADE,TOP-10 SHAPE NAME,TOP-10 POLISH WAIGHT,TOP-10 CUT GRADE,TOP-11 SHAPE NAME,TOP-11 POLISH WAIGHT,TOP-11 CUT GRADE,TOP-12 SHAPE NAME,TOP-12 POLISH WAIGHT,TOP-12 CUT GRADE,TOP-13 SHAPE NAME,TOP-13 POLISH WAIGHT,TOP-13 CUT GRADE,TOP-14 SHAPE NAME,TOP-14 POLISH WAIGHT,TOP-14 CUT GRADE,TOP-15 SHAPE NAME,TOP-15 POLISH WAIGHT,TOP-15 CUT GRADE,TOP-16 SHAPE NAME,TOP-16 POLISH WAIGHT,TOP-16 CUT GRADE,TOP-17 SHAPE NAME,TOP-17 POLISH WAIGHT,TOP-17 CUT GRADE,TOP-18 SHAPE NAME,TOP-18 POLISH WAIGHT,TOP-18 CUT GRADE,TOP-19 SHAPE NAME,TOP-19 POLISH WAIGHT,TOP-19 CUT GRADE,TOP-20 SHAPE NAME,TOP-20 POLISH WAIGHT,TOP-20 CUT GRADE,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,DIAMOND TYP,opt,Unnamed: 92
0,NaN,(BLGK78-1)6G-150186-BBE40-23-1,3.233,1.142,(blank),35.32,3472.0,2.949,91.215589,ROUND,0.373,VVS1,1147.0,ROUND,0.072,VVS1,ROUND,0.381,VVS1,ROUND,0.06,VVS1,ROUND,0.069,VVS1,ROUND,0.137,VVS1,ROUND,0.05,VVS1,(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),0.30 to 0.39,Below 0.09,0.30 to 0.39,Below 0.09,Below 0.09,0.10 to 0.19,Below 0.09,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,220.0,(blank),0
1,FINAL,(BLGK78-1)6G-150186-BBE40-23-1,3.233,1.207,(blank),37.33,3060.0,3.023,93.504485,ROUND,0.452,VVS1,1395.0,ROUND,0.203,VVS1,ROUND,0.326,VVS1,ROUND,0.159,VS1,ROUND,0.067,VS1,(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),0.40 to 0.49,0.20 to 0.29,0.30 to 0.39,0.10 to 0.19,Below 0.09,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,221.0,(blank),FINAL
2,NaN,(BLGK78-1)6G-150186-BBE40-23-1,3.233,1.273,(blank),39.38,5536.0,2.990,92.483761,OVAL_LEO - Copy,0.711,VVS1,4118.0,ROUND,0.093,VS2,ROUND,0.138,VVS1,ROUND,0.075,VVS1,ROUND,0.256,VVS1,(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),0.60 to 0.71,Below 0.09,0.10 to 0.19,Below 0.09,0.20 to 0.29,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,218.0,(blank),0
3,NaN,(BLGK78-1)6G-150186-BBE40-23-1,3.233,1.337,(blank),41.35,1329.0,3.067,94.865450,EMERALD 4STEP,1.005,VVS1,510.0,ROUND,0.098,VVS1,ROUND,0.176,VVS1,ROUND,0.058,VS2,(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),1.00 to 1.10,Below 0.09,0.10 to 0.19,Below 0.09,0,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,219.0,(blank),0
4,NaN,(BLGK78-1)6G-150186-BBE40-23-1,3.233,1.460,(blank),45.16,1459.0,3.021,93.442623,EMERALD 4STEP,1.000,VVS1,510.0,PEAR_LEO,0.05,SI2,EMERALD 4STEP,0.246,VVS1,PEAR_LEO,0.059,VVS1,PEAR_LEO,0.105,VVS1,(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),(blank),1.00 to 1.10,Below 0.09,0.20 to 0.29,Below 0.09,0.10 to 0.19,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,217.0,(blank),0

In [10]:
df['TOTAL_YIELD'].replace('(blank)',0,inplace=True)
df['TOP-1 POLISH WAIGHT-2'].replace('(blank)',0,inplace=True)
df['TOP-2 POLISH WAIGHT-2'].replace('(blank)',0,inplace=True)
df['TOP-3 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-4 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-5 POLISH WAIGHT-2'].replace('(blank)',0,inplace=True)
df['TOP-6 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-7 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-8 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-9 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-10 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-11 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-12 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-13 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-14 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-15 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-16 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-17 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-18 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-19 POLISH WAIGHT'].replace('(blank)',0,inplace=True)
df['TOP-20 POLISH WAIGHT'].replace('(blank)',0,inplace=True)

In [11]:
df['TOTAL_YIELD'] = pd.to_numeric(df['TOTAL_YIELD'])
df['TOP-1 POLISH WAIGHT-2'] = pd.to_numeric(df['TOP-1 POLISH WAIGHT-2'])
df['TOP-2 POLISH WAIGHT-2'] = pd.to_numeric(df['TOP-2 POLISH WAIGHT-2'])
df['TOP-3 POLISH WAIGHT'] = pd.to_numeric(df['TOP-3 POLISH WAIGHT']) 
df['TOP-4 POLISH WAIGHT'] = pd.to_numeric(df['TOP-4 POLISH WAIGHT'])
df['TOP-5 POLISH WAIGHT-2'] = pd.to_numeric(df['TOP-5 POLISH WAIGHT-2'])
df['TOP-6 POLISH WAIGHT'] = pd.to_numeric(df['TOP-6 POLISH WAIGHT'])
df['TOP-7 POLISH WAIGHT'] = pd.to_numeric(df['TOP-7 POLISH WAIGHT'])
df['TOP-8 POLISH WAIGHT'] = pd.to_numeric(df['TOP-8 POLISH WAIGHT'])
df['TOP-9 POLISH WAIGHT'] = pd.to_numeric(df['TOP-9 POLISH WAIGHT'])
df['TOP-10 POLISH WAIGHT'] = pd.to_numeric(df['TOP-10 POLISH WAIGHT'])
df['TOP-11 POLISH WAIGHT'] = pd.to_numeric(df['TOP-11 POLISH WAIGHT'])
df['TOP-12 POLISH WAIGHT'] = pd.to_numeric(df['TOP-12 POLISH WAIGHT'])
df['TOP-13 POLISH WAIGHT'] = pd.to_numeric(df['TOP-13 POLISH WAIGHT'])
df['TOP-14 POLISH WAIGHT'] = pd.to_numeric(df['TOP-14 POLISH WAIGHT'])
df['TOP-15 POLISH WAIGHT'] = pd.to_numeric(df['TOP-15 POLISH WAIGHT'])
df['TOP-16 POLISH WAIGHT'] = pd.to_numeric(df['TOP-16 POLISH WAIGHT'])
df['TOP-17 POLISH WAIGHT'] = pd.to_numeric(df['TOP-17 POLISH WAIGHT'])
df['TOP-18 POLISH WAIGHT'] = pd.to_numeric(df['TOP-18 POLISH WAIGHT'])
df['TOP-19 POLISH WAIGHT'] = pd.to_numeric(df['TOP-19 POLISH WAIGHT'])
df['TOP-20 POLISH WAIGHT'] = pd.to_numeric(df['TOP-20 POLISH WAIGHT'])

In [12]:
df['TOTAL_YIELD'].fillna(0,inplace=True)
df['TOP-1 POLISH WAIGHT-2'].fillna(0,inplace=True)
df['TOP-2 POLISH WAIGHT-2'].fillna(0,inplace=True)
df['TOP-3 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-4 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-5 POLISH WAIGHT-2'].fillna(0,inplace=True)
df['TOP-6 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-7 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-8 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-9 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-10 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-11 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-12 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-13 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-14 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-15 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-16 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-17 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-18 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-19 POLISH WAIGHT'].fillna(0,inplace=True)
df['TOP-20 POLISH WAIGHT'].fillna(0,inplace=True)

In [13]:
df['TOP-1 SHAPE NAME'].unique()

array(['ROUND', 'OVAL_LEO - Copy', 'EMERALD 4STEP', nan, 'PEAR_LEO',
       'CUSHION', 'RADIANTB', 'BEZEL PRINCESS'], dtype=object)

In [14]:
df['TOP-2 CUT GRADE-2'].unique()

array(['VVS1', 'VS2', 'SI2', nan, 'VVS2', 'VS1', 'SI1', '(blank)', 'IF'],
      dtype=object)

In [30]:
# operator.lt(3, 4)
# operator.le(3, 3)
# operator.eq(4, 4)
# operator.ne(5, 6)
# operator.ge(a, b)
# operator.gt(a, b)


shape="ROUND"
weight=1
color="VVS1"
yieldVal = 30
oprSahpe = operator.eq
oprCut = operator.eq
oprWeight = operator.ge
oprYield = operator.ge

In [31]:
df_conditional = df[
    oprYield(df['TOTAL_YIELD'],yieldVal) & 
    (
        (oprSahpe(df['TOP-1 SHAPE NAME'],shape) & oprCut(df['TOP-1 CUT GRADE'],color) & oprWeight(df['TOP-1 POLISH WAIGHT-2'],weight)) | 
        (oprSahpe(df['TOP-2 SHAPE NAME'],shape) & oprCut(df['TOP-2 CUT GRADE-2'],color) & oprWeight(df['TOP-2 POLISH WAIGHT-2'],weight)) | 
        (oprSahpe(df['TOP-3 SHAPE NAME'],shape) & oprCut(df['TOP-3 CUT GRADE'],color) & oprWeight(df['TOP-3 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-4 SHAPE NAME'],shape) & oprCut(df['TOP-4 CUT GRADE'],color) & oprWeight(df['TOP-4 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-5 SHAPE NAME'],shape) & oprCut(df['TOP-5 CUT GRADE-2'],color) & oprWeight(df['TOP-5 POLISH WAIGHT-2'],weight)) | 
        (oprSahpe(df['TOP-6 SHAPE NAME'],shape) & oprCut(df['TOP-6 CUT GRADE'],color) & oprWeight(df['TOP-6 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-7 SHAPE NAME'],shape) & oprCut(df['TOP-7 CUT GRADE'],color) & oprWeight(df['TOP-7 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-8 SHAPE NAME'],shape) & oprCut(df['TOP-8 CUT GRADE'],color) & oprWeight(df['TOP-8 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-9 SHAPE NAME'],shape) & oprCut(df['TOP-9 CUT GRADE'],color) & oprWeight(df['TOP-9 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-10 SHAPE NAME'],shape) & oprCut(df['TOP-10 CUT GRADE'],color) & oprWeight(df['TOP-10 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-11 SHAPE NAME'],shape) & oprCut(df['TOP-11 CUT GRADE'],color) & oprWeight(df['TOP-11 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-12 SHAPE NAME'],shape) & oprCut(df['TOP-12 CUT GRADE'],color) & oprWeight(df['TOP-12 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-13 SHAPE NAME'],shape) & oprCut(df['TOP-13 CUT GRADE'],color) & oprWeight(df['TOP-13 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-14 SHAPE NAME'],shape) & oprCut(df['TOP-14 CUT GRADE'],color) & oprWeight(df['TOP-14 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-15 SHAPE NAME'],shape) & oprCut(df['TOP-15 CUT GRADE'],color) & oprWeight(df['TOP-15 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-16 SHAPE NAME'],shape) & oprCut(df['TOP-16 CUT GRADE'],color) & oprWeight(df['TOP-16 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-17 SHAPE NAME'],shape) & oprCut(df['TOP-17 CUT GRADE'],color) & oprWeight(df['TOP-17 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-18 SHAPE NAME'],shape) & oprCut(df['TOP-18 CUT GRADE'],color) & oprWeight(df['TOP-18 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-19 SHAPE NAME'],shape) & oprCut(df['TOP-19 CUT GRADE'],color) & oprWeight(df['TOP-19 POLISH WAIGHT'],weight)) | 
        (oprSahpe(df['TOP-20 SHAPE NAME'],shape) & oprCut(df['TOP-20 CUT GRADE'],color) & oprWeight(df['TOP-20 POLISH WAIGHT'],weight))  
    )
  ]

df_conditional.index += 2

In [32]:
df_conditional

,BLGD SELECTION,BARCODE,ROUGH,T. POLISH,ROUGH GREAD,TOTAL_YIELD,TOTAL VALUE,TP RCRT,TRYld,TOP-1 SHAPE NAME,TOP-1 POLISH WAIGHT-2,TOP-1 CUT GRADE,TOP-1 VALUE,TOP-2 SHAPE NAME,TOP-2 POLISH WAIGHT-2,TOP-2 CUT GRADE-2,TOP-3 SHAPE NAME,TOP-3 POLISH WAIGHT,TOP-3 CUT GRADE,TOP-4 SHAPE NAME,TOP-4 POLISH WAIGHT,TOP-4 CUT GRADE,TOP-5 SHAPE NAME,TOP-5 POLISH WAIGHT-2,TOP-5 CUT GRADE-2,TOP-6 SHAPE NAME,TOP-6 POLISH WAIGHT,TOP-6 CUT GRADE,TOP-7 SHAPE NAME,TOP-7 POLISH WAIGHT,TOP-7 CUT GRADE,TOP-8 SHAPE NAME,TOP-8 POLISH WAIGHT,TOP-8 CUT GRADE,TOP-9 SHAPE NAME,TOP-9 POLISH WAIGHT,TOP-9 CUT GRADE,TOP-10 SHAPE NAME,TOP-10 POLISH WAIGHT,TOP-10 CUT GRADE,TOP-11 SHAPE NAME,TOP-11 POLISH WAIGHT,TOP-11 CUT GRADE,TOP-12 SHAPE NAME,TOP-12 POLISH WAIGHT,TOP-12 CUT GRADE,TOP-13 SHAPE NAME,TOP-13 POLISH WAIGHT,TOP-13 CUT GRADE,TOP-14 SHAPE NAME,TOP-14 POLISH WAIGHT,TOP-14 CUT GRADE,TOP-15 SHAPE NAME,TOP-15 POLISH WAIGHT,TOP-15 CUT GRADE,TOP-16 SHAPE NAME,TOP-16 POLISH WAIGHT,TOP-16 CUT GRADE,TOP-17 SHAPE NAME,TOP-17 POLISH WAIGHT,TOP-17 CUT GRADE,TOP-18 SHAPE NAME,TOP-18 POLISH WAIGHT,TOP-18 CUT GRADE,TOP-19 SHAPE NAME,TOP-19 POLISH WAIGHT,TOP-19 CUT GRADE,TOP-20 SHAPE NAME,TOP-20 POLISH WAIGHT,TOP-20 CUT GRADE,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,DIAMOND TYP,opt,Unnamed: 92
983,FINAL,(BLGK78-254)6G-140347-BAB9-26-4,4.008,1.821,(blank),45.43,3495.0,3.744,93.413174,ROUND,1.108,VVS1,1356.0,ROUND,0.110,VVS1,ROUND,0.169,VVS1,ROUND,0.157,VVS1,ROUND,0.277,VVS1,(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),1.00 to 1.10,0.10 to 0.19,0.10 to 0.19,0.10 to 0.19,0.20 to 0.29,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1645.0,(blank),NaN
994,NaN,(BLGK78-256)6G-141430-AD34-58-14,3.971,1.561,(blank),39.31,2770.4,3.721,93.704357,ROUND,1.108,VVS1,1366.1,ROUND,0.071,VVS1,ROUND,0.100,VVS1,ROUND,0.093,VVS1,ROUND,0.189,VVS1,(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),1.00 to 1.10,Below 0.09,0.10 to 0.19,Below 0.09,0.10 to 0.19,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,822.0,(blank),NaN
995,FINAL,(BLGK78-256)6G-141430-AD34-58-14,3.971,1.707,(blank),42.99,3247.3,3.706,93.326618,ROUND,0.119,VVS1,368.9,ROUND,0.145,VVS1,ROUND,0.158,VVS1,ROUND,0.190,VVS1,ROUND,1.095,VVS1,(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),0.10 to 0.19,0.10 to 0.19,0.10 to 0.19,0.10 to 0.19,1.00 to 1.10,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,821.0,(blank),NaN

In [33]:
if os.path.exists("new_conditional_data.xlsx"):
    os.remove("new_conditional_data.xlsx")
    
df_conditional.to_excel("new_conditional_data.xlsx", header=1)

In [ ]:
#________________________EXTRA ANALYSIS__________________________

In [46]:
shape="ROUND"
weight=0.277
color="VS1"
oprSahpe = operator.eq
oprCut = operator.eq
oprWeight = operator.eq

# operator.lt(a, b)
# operator.le(a, b)
# operator.eq(a, b)
# operator.ne(a, b)
# operator.ge(a, b)
# operator.gt(a, b)

In [47]:
df_conditional = df[((df['TOP-1 SHAPE NAME']==shape) | (df['TOP-2 SHAPE NAME']==shape) | (df['TOP-3 SHAPE NAME']==shape) | 
   (df['TOP-4 SHAPE NAME']==shape) | (df['TOP-5 SHAPE NAME']==shape) | (df['TOP-6 SHAPE NAME']==shape) |
   (df['TOP-7 SHAPE NAME']==shape) | (df['TOP-8 SHAPE NAME']==shape) | (df['TOP-9 SHAPE NAME']==shape) |
   (df['TOP-10 SHAPE NAME']==shape) | (df['TOP-11 SHAPE NAME']==shape) | (df['TOP-12 SHAPE NAME']==shape) |
   (df['TOP-13 SHAPE NAME']==shape) | (df['TOP-14 SHAPE NAME']==shape) | (df['TOP-15 SHAPE NAME']==shape) |
   (df['TOP-16 SHAPE NAME']==shape) | (df['TOP-17 SHAPE NAME']==shape) | (df['TOP-18 SHAPE NAME']==shape) |
   (df['TOP-19 SHAPE NAME']==shape) | (df['TOP-20 SHAPE NAME']==shape)) &
   
   ((df['TOP-1 CUT GRADE']==color) | (df['TOP-2 CUT GRADE-2']==color) | (df['TOP-3 CUT GRADE']==color) | 
   (df['TOP-4 CUT GRADE']==color) | (df['TOP-5 CUT GRADE-2']==color) | (df['TOP-6 CUT GRADE']==color) |
   (df['TOP-7 CUT GRADE']==color) | (df['TOP-8 CUT GRADE']==color) | (df['TOP-9 CUT GRADE']==color) |
   (df['TOP-10 CUT GRADE']==color) | (df['TOP-11 CUT GRADE']==color) | (df['TOP-12 CUT GRADE']==color) |
   (df['TOP-13 CUT GRADE']==color) | (df['TOP-14 CUT GRADE']==color) | (df['TOP-15 CUT GRADE']==color) |
   (df['TOP-16 CUT GRADE']==color) | (df['TOP-17 CUT GRADE']==color) | (df['TOP-18 CUT GRADE']==color) |
   (df['TOP-19 CUT GRADE']==color) | (df['TOP-20 CUT GRADE']==color)) &
   
   ((df['TOP-1 POLISH WAIGHT-2']==weight) | (df['TOP-2 POLISH WAIGHT-2']==weight) | (df['TOP-3 POLISH WAIGHT']==weight) | 
   (df['TOP-4 POLISH WAIGHT']==weight) | (df['TOP-5 POLISH WAIGHT-2']==weight) | (df['TOP-6 POLISH WAIGHT']==weight) |
   (df['TOP-7 POLISH WAIGHT']==weight) | (df['TOP-8 POLISH WAIGHT']==weight) | (df['TOP-9 POLISH WAIGHT']==weight) |
   (df['TOP-10 POLISH WAIGHT']==weight) | (df['TOP-11 POLISH WAIGHT']==weight) | (df['TOP-12 POLISH WAIGHT']==weight) |
   (df['TOP-13 POLISH WAIGHT']==weight) | (df['TOP-14 POLISH WAIGHT']==weight) | (df['TOP-15 POLISH WAIGHT']==weight) |
   (df['TOP-16 POLISH WAIGHT']==weight) | (df['TOP-17 POLISH WAIGHT']==weight) | (df['TOP-18 POLISH WAIGHT']==weight) |
   (df['TOP-19 POLISH WAIGHT']==weight) | (df['TOP-20 POLISH WAIGHT']==weight))
  ]

In [48]:
df_conditional

,BLGD SELECTION,BARCODE,ROUGH,T. POLISH,ROUGH GREAD,TOTAL YIELD,TOTAL VALUE,TP RCRT,TRYld,TOP-1 SHAPE NAME,...,15,16,17,18,19,20,DIAMOND TYP,opt,Unnamed: 92,Total_pieces_weight
153,NaN,(BLGK78-124)6G-150678-BBF20-21-22,3.388,1.166,(blank),34.42,3050.0,3.175,93.713105,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,1905.0,(blank),0,1.166

In [49]:
if os.path.exists("new_conditional_data.xlsx"):
    os.remove("new_conditional_data.xlsx")
    
df_conditional.to_excel("new_conditional_data.xlsx", header=1)

In [50]:
df_conditional = df[
    (        
        ops(df['TOP-1 SHAPE NAME'],shape) | ops(df['TOP-2 SHAPE NAME'],shape) | ops(df['TOP-3 SHAPE NAME'],shape) | 
        ops(df['TOP-4 SHAPE NAME'],shape) | ops(df['TOP-5 SHAPE NAME'],shape) | ops(df['TOP-6 SHAPE NAME'],shape) |
        ops(df['TOP-7 SHAPE NAME'],shape) | ops(df['TOP-8 SHAPE NAME'],shape) | ops(df['TOP-9 SHAPE NAME'],shape) |
        ops(df['TOP-10 SHAPE NAME'],shape) | ops(df['TOP-11 SHAPE NAME'],shape) | ops(df['TOP-12 SHAPE NAME'],shape) |
        ops(df['TOP-13 SHAPE NAME'],shape) | ops(df['TOP-14 SHAPE NAME'],shape) | ops(df['TOP-15 SHAPE NAME'],shape) |
        ops(df['TOP-16 SHAPE NAME'],shape) | ops(df['TOP-17 SHAPE NAME'],shape) | ops(df['TOP-18 SHAPE NAME'],shape) |
        ops(df['TOP-19 SHAPE NAME'],shape) | ops(df['TOP-20 SHAPE NAME'],shape)
    ) &

        
    (
        ops(df['TOP-1 CUT GRADE'],color) | ops(df['TOP-2 CUT GRADE-2'],color) | ops(df['TOP-3 CUT GRADE'],color) | 
        ops(df['TOP-4 CUT GRADE'],color) | ops(df['TOP-5 CUT GRADE-2'],color) | ops(df['TOP-6 CUT GRADE'],color) |
        ops(df['TOP-7 CUT GRADE'],color) | ops(df['TOP-8 CUT GRADE'],color) | ops(df['TOP-9 CUT GRADE'],color) |
        ops(df['TOP-10 CUT GRADE'],color) | ops(df['TOP-11 CUT GRADE'],color) | ops(df['TOP-12 CUT GRADE'],color) |
        ops(df['TOP-13 CUT GRADE'],color) | ops(df['TOP-14 CUT GRADE'],color) | ops(df['TOP-15 CUT GRADE'],color) |
        ops(df['TOP-16 CUT GRADE'],color) | ops(df['TOP-17 CUT GRADE'],color) | ops(df['TOP-18 CUT GRADE'],color) |
        ops(df['TOP-19 CUT GRADE'],color) | ops(df['TOP-20 CUT GRADE'],color)
    ) &
    
    (
        ops(df['TOP-1 POLISH WAIGHT-2'],weight) | ops(df['TOP-2 POLISH WAIGHT-2'],weight) | ops(df['TOP-3 POLISH WAIGHT'],weight) | 
        ops(df['TOP-4 POLISH WAIGHT'],weight) | ops(df['TOP-5 POLISH WAIGHT-2'],weight) | ops(df['TOP-6 POLISH WAIGHT'],weight) |
        ops(df['TOP-7 POLISH WAIGHT'],weight) | ops(df['TOP-8 POLISH WAIGHT'],weight) | ops(df['TOP-9 POLISH WAIGHT'],weight) |
        ops(df['TOP-10 POLISH WAIGHT'],weight) | ops(df['TOP-11 POLISH WAIGHT'],weight) | ops(df['TOP-12 POLISH WAIGHT'],weight) |
        ops(df['TOP-13 POLISH WAIGHT'],weight) | ops(df['TOP-14 POLISH WAIGHT'],weight) | ops(df['TOP-15 POLISH WAIGHT'],weight) |
        ops(df['TOP-16 POLISH WAIGHT'],weight) | ops(df['TOP-17 POLISH WAIGHT'],weight) | ops(df['TOP-18 POLISH WAIGHT'],weight) |
        ops(df['TOP-19 POLISH WAIGHT'],weight) | ops(df['TOP-20 POLISH WAIGHT'],weight)
    )    
  ]

In [51]:
df_conditional = df[
    (        
        ops(df['TOP-1 SHAPE NAME'],shape) | ops(df['TOP-2 SHAPE NAME'],shape) | ops(df['TOP-3 SHAPE NAME'],shape) | 
        ops(df['TOP-4 SHAPE NAME'],shape) | ops(df['TOP-5 SHAPE NAME'],shape) | ops(df['TOP-6 SHAPE NAME'],shape) |
        ops(df['TOP-7 SHAPE NAME'],shape) | ops(df['TOP-8 SHAPE NAME'],shape) | ops(df['TOP-9 SHAPE NAME'],shape) |
        ops(df['TOP-10 SHAPE NAME'],shape) | ops(df['TOP-11 SHAPE NAME'],shape) | ops(df['TOP-12 SHAPE NAME'],shape) |
        ops(df['TOP-13 SHAPE NAME'],shape) | ops(df['TOP-14 SHAPE NAME'],shape) | ops(df['TOP-15 SHAPE NAME'],shape) |
        ops(df['TOP-16 SHAPE NAME'],shape) | ops(df['TOP-17 SHAPE NAME'],shape) | ops(df['TOP-18 SHAPE NAME'],shape) |
        ops(df['TOP-19 SHAPE NAME'],shape) | ops(df['TOP-20 SHAPE NAME'],shape)
    ) &

        
    (
        ops(df['TOP-1 CUT GRADE'],color) | ops(df['TOP-2 CUT GRADE-2'],color) | ops(df['TOP-3 CUT GRADE'],color) | 
        ops(df['TOP-4 CUT GRADE'],color) | ops(df['TOP-5 CUT GRADE-2'],color) | ops(df['TOP-6 CUT GRADE'],color) |
        ops(df['TOP-7 CUT GRADE'],color) | ops(df['TOP-8 CUT GRADE'],color) | ops(df['TOP-9 CUT GRADE'],color) |
        ops(df['TOP-10 CUT GRADE'],color) | ops(df['TOP-11 CUT GRADE'],color) | ops(df['TOP-12 CUT GRADE'],color) |
        ops(df['TOP-13 CUT GRADE'],color) | ops(df['TOP-14 CUT GRADE'],color) | ops(df['TOP-15 CUT GRADE'],color) |
        ops(df['TOP-16 CUT GRADE'],color) | ops(df['TOP-17 CUT GRADE'],color) | ops(df['TOP-18 CUT GRADE'],color) |
        ops(df['TOP-19 CUT GRADE'],color) | ops(df['TOP-20 CUT GRADE'],color)
    ) &
    
    (
        ops(df['TOP-1 POLISH WAIGHT-2'],weight) | ops(df['TOP-2 POLISH WAIGHT-2'],weight) | ops(df['TOP-3 POLISH WAIGHT'],weight) | 
        ops(df['TOP-4 POLISH WAIGHT'],weight) | ops(df['TOP-5 POLISH WAIGHT-2'],weight) | ops(df['TOP-6 POLISH WAIGHT'],weight) |
        ops(df['TOP-7 POLISH WAIGHT'],weight) | ops(df['TOP-8 POLISH WAIGHT'],weight) | ops(df['TOP-9 POLISH WAIGHT'],weight) |
        ops(df['TOP-10 POLISH WAIGHT'],weight) | ops(df['TOP-11 POLISH WAIGHT'],weight) | ops(df['TOP-12 POLISH WAIGHT'],weight) |
        ops(df['TOP-13 POLISH WAIGHT'],weight) | ops(df['TOP-14 POLISH WAIGHT'],weight) | ops(df['TOP-15 POLISH WAIGHT'],weight) |
        ops(df['TOP-16 POLISH WAIGHT'],weight) | ops(df['TOP-17 POLISH WAIGHT'],weight) | ops(df['TOP-18 POLISH WAIGHT'],weight) |
        ops(df['TOP-19 POLISH WAIGHT'],weight) | ops(df['TOP-20 POLISH WAIGHT'],weight)
    )    
  ]

In [52]:
shape="ROUND"
weight=0.277
color="VS1"
oprSahpe = operator.eq
oprCut = operator.eq
oprWeight = operator.eq

In [53]:
df_conditional = df[
    (        
        oprSahpe(df['TOP-1 SHAPE NAME'],shape) | oprSahpe(df['TOP-2 SHAPE NAME'],shape) | oprSahpe(df['TOP-3 SHAPE NAME'],shape) | 
        oprSahpe(df['TOP-4 SHAPE NAME'],shape) | oprSahpe(df['TOP-5 SHAPE NAME'],shape) | oprSahpe(df['TOP-6 SHAPE NAME'],shape) |
        oprSahpe(df['TOP-7 SHAPE NAME'],shape) | oprSahpe(df['TOP-8 SHAPE NAME'],shape) | oprSahpe(df['TOP-9 SHAPE NAME'],shape) |
        oprSahpe(df['TOP-10 SHAPE NAME'],shape) | oprSahpe(df['TOP-11 SHAPE NAME'],shape) | oprSahpe(df['TOP-12 SHAPE NAME'],shape) |
        oprSahpe(df['TOP-13 SHAPE NAME'],shape) | oprSahpe(df['TOP-14 SHAPE NAME'],shape) | oprSahpe(df['TOP-15 SHAPE NAME'],shape) |
        oprSahpe(df['TOP-16 SHAPE NAME'],shape) | oprSahpe(df['TOP-17 SHAPE NAME'],shape) | oprSahpe(df['TOP-18 SHAPE NAME'],shape) |
        oprSahpe(df['TOP-19 SHAPE NAME'],shape) | oprSahpe(df['TOP-20 SHAPE NAME'],shape)
    ) &

        
    (
        oprCut(df['TOP-1 CUT GRADE'],color) | oprCut(df['TOP-2 CUT GRADE-2'],color) | oprCut(df['TOP-3 CUT GRADE'],color) | 
        oprCut(df['TOP-4 CUT GRADE'],color) | oprCut(df['TOP-5 CUT GRADE-2'],color) | oprCut(df['TOP-6 CUT GRADE'],color) |
        oprCut(df['TOP-7 CUT GRADE'],color) | oprCut(df['TOP-8 CUT GRADE'],color) | oprCut(df['TOP-9 CUT GRADE'],color) |
        oprCut(df['TOP-10 CUT GRADE'],color) | oprCut(df['TOP-11 CUT GRADE'],color) | oprCut(df['TOP-12 CUT GRADE'],color) |
        oprCut(df['TOP-13 CUT GRADE'],color) | oprCut(df['TOP-14 CUT GRADE'],color) | oprCut(df['TOP-15 CUT GRADE'],color) |
        oprCut(df['TOP-16 CUT GRADE'],color) | oprCut(df['TOP-17 CUT GRADE'],color) | oprCut(df['TOP-18 CUT GRADE'],color) |
        oprCut(df['TOP-19 CUT GRADE'],color) | oprCut(df['TOP-20 CUT GRADE'],color)
    ) &
    
    (
        oprWeight(df['TOP-1 POLISH WAIGHT-2'],weight) | oprWeight(df['TOP-2 POLISH WAIGHT-2'],weight) | oprWeight(df['TOP-3 POLISH WAIGHT'],weight) | 
        oprWeight(df['TOP-4 POLISH WAIGHT'],weight) | oprWeight(df['TOP-5 POLISH WAIGHT-2'],weight) | oprWeight(df['TOP-6 POLISH WAIGHT'],weight) |
        oprWeight(df['TOP-7 POLISH WAIGHT'],weight) | oprWeight(df['TOP-8 POLISH WAIGHT'],weight) | oprWeight(df['TOP-9 POLISH WAIGHT'],weight) |
        oprWeight(df['TOP-10 POLISH WAIGHT'],weight) | oprWeight(df['TOP-11 POLISH WAIGHT'],weight) | oprWeight(df['TOP-12 POLISH WAIGHT'],weight) |
        oprWeight(df['TOP-13 POLISH WAIGHT'],weight) | oprWeight(df['TOP-14 POLISH WAIGHT'],weight) | oprWeight(df['TOP-15 POLISH WAIGHT'],weight) |
        oprWeight(df['TOP-16 POLISH WAIGHT'],weight) | oprWeight(df['TOP-17 POLISH WAIGHT'],weight) | oprWeight(df['TOP-18 POLISH WAIGHT'],weight) |
        oprWeight(df['TOP-19 POLISH WAIGHT'],weight) | oprWeight(df['TOP-20 POLISH WAIGHT'],weight)
    )    
  ]

In [87]:
df_conditional

,BLGD SELECTION,BARCODE,ROUGH,T. POLISH,ROUGH GREAD,TOTAL YIELD,TOTAL VALUE,TP RCRT,TRYld,TOP-1 SHAPE NAME,TOP-1 POLISH WAIGHT-2,TOP-1 CUT GRADE,TOP-1 VALUE,TOP-2 SHAPE NAME,TOP-2 POLISH WAIGHT-2,TOP-2 CUT GRADE-2,TOP-3 SHAPE NAME,TOP-3 POLISH WAIGHT,TOP-3 CUT GRADE,TOP-4 SHAPE NAME,TOP-4 POLISH WAIGHT,TOP-4 CUT GRADE,TOP-5 SHAPE NAME,TOP-5 POLISH WAIGHT-2,TOP-5 CUT GRADE-2,TOP-6 SHAPE NAME,TOP-6 POLISH WAIGHT,TOP-6 CUT GRADE,TOP-7 SHAPE NAME,TOP-7 POLISH WAIGHT,TOP-7 CUT GRADE,TOP-8 SHAPE NAME,TOP-8 POLISH WAIGHT,TOP-8 CUT GRADE,TOP-9 SHAPE NAME,TOP-9 POLISH WAIGHT,TOP-9 CUT GRADE,TOP-10 SHAPE NAME,TOP-10 POLISH WAIGHT,TOP-10 CUT GRADE,TOP-11 SHAPE NAME,TOP-11 POLISH WAIGHT,TOP-11 CUT GRADE,TOP-12 SHAPE NAME,TOP-12 POLISH WAIGHT,TOP-12 CUT GRADE,TOP-13 SHAPE NAME,TOP-13 POLISH WAIGHT,TOP-13 CUT GRADE,TOP-14 SHAPE NAME,TOP-14 POLISH WAIGHT,TOP-14 CUT GRADE,TOP-15 SHAPE NAME,TOP-15 POLISH WAIGHT,TOP-15 CUT GRADE,TOP-16 SHAPE NAME,TOP-16 POLISH WAIGHT,TOP-16 CUT GRADE,TOP-17 SHAPE NAME,TOP-17 POLISH WAIGHT,TOP-17 CUT GRADE,TOP-18 SHAPE NAME,TOP-18 POLISH WAIGHT,TOP-18 CUT GRADE,TOP-19 SHAPE NAME,TOP-19 POLISH WAIGHT,TOP-19 CUT GRADE,TOP-20 SHAPE NAME,TOP-20 POLISH WAIGHT,TOP-20 CUT GRADE,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,DIAMOND TYP,opt,Unnamed: 92,Total_pieces_weight
983,FINAL,(BLGK78-254)6G-140347-BAB9-26-4,4.008,1.821,(blank),45.43,3495.0,3.744,93.413174,ROUND,1.108,VVS1,1356.0,ROUND,0.110,VVS1,ROUND,0.169,VVS1,ROUND,0.157,VVS1,ROUND,0.277,VVS1,(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),1.00 to 1.10,0.10 to 0.19,0.10 to 0.19,0.10 to 0.19,0.20 to 0.29,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1645.0,(blank),NaN,1.821
994,NaN,(BLGK78-256)6G-141430-AD34-58-14,3.971,1.561,(blank),39.31,2770.4,3.721,93.704357,ROUND,1.108,VVS1,1366.1,ROUND,0.071,VVS1,ROUND,0.100,VVS1,ROUND,0.093,VVS1,ROUND,0.189,VVS1,(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),1.00 to 1.10,Below 0.09,0.10 to 0.19,Below 0.09,0.10 to 0.19,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,822.0,(blank),NaN,1.561
995,FINAL,(BLGK78-256)6G-141430-AD34-58-14,3.971,1.707,(blank),42.99,3247.3,3.706,93.326618,ROUND,0.119,VVS1,368.9,ROUND,0.145,VVS1,ROUND,0.158,VVS1,ROUND,0.190,VVS1,ROUND,1.095,VVS1,(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),(blank),0.0,(blank),0.10 to 0.19,0.10 to 0.19,0.10 to 0.19,0.10 to 0.19,1.00 to 1.10,0,0,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,821.0,(blank),NaN,1.707

In [80]:
# operator.lt(a, b)
# operator.le(a, b)
# operator.eq(a, b)
# operator.ne(a, b)
# operator.ge(a, b)
# operator.gt(a, b)

In [81]:
operator.ge(3, 3)

True

In [35]:
df[((df['TOP-1 CUT GRADE']==color) | (df['TOP-2 CUT GRADE-2']==color) | (df['TOP-3 CUT GRADE']==color) | 
   (df['TOP-4 CUT GRADE']==color) | (df['TOP-5 CUT GRADE-2']==color) | (df['TOP-6 CUT GRADE']==color) |
   (df['TOP-7 CUT GRADE']==color) | (df['TOP-8 CUT GRADE']==color) | (df['TOP-9 CUT GRADE']==color) |
   (df['TOP-10 CUT GRADE']==color) | (df['TOP-11 CUT GRADE']==color) | (df['TOP-12 CUT GRADE']==color) |
   (df['TOP-13 CUT GRADE']==color) | (df['TOP-14 CUT GRADE']==color) | (df['TOP-15 CUT GRADE']==color) |
   (df['TOP-16 CUT GRADE']==color) | (df['TOP-17 CUT GRADE']==color) | (df['TOP-18 CUT GRADE']==color) |
   (df['TOP-19 CUT GRADE']==color) | (df['TOP-20 CUT GRADE']==color)) 
  ]

,BLGD SELECTION,BARCODE,ROUGH,T. POLISH,ROUGH GREAD,TOTAL YIELD,TOTAL VALUE,TP RCRT,TRYld,TOP-1 SHAPE NAME,...,15,16,17,18,19,20,DIAMOND TYP,opt,Unnamed: 92,Total_pieces_weight
1,FINAL,(BLGK78-1)6G-150186-BBE40-23-1,3.233,1.207,(blank),37.33,3060.0,3.023,93.504485,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,221.0,(blank),FINAL,1.207
19,NaN,(BLGK78-102)6G-140503-AG23-13-13,2.895,0.909,(blank),31.40,1807.9,2.631,90.880829,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,804.0,(blank),0,0.909
20,NaN,(BLGK78-102)6G-140503-AG23-13-13,2.895,0.955,(blank),32.99,1251.0,2.632,90.915371,OVAL_LEO - Copy,...,0.0,0.0,0.0,0.0,0.0,0.0,801.0,(blank),0,0.955
25,NaN,(BLGK78-103)6G-140613-AD36-58-1,3.496,1.369,(blank),39.16,2502.0,3.202,91.590389,OVAL_LEO - Copy,...,0.0,0.0,0.0,0.0,0.0,0.0,1732.0,(blank),0,1.369
34,NaN,(BLGK78-104)6G-140635-BAF11-33-8,3.568,1.332,(blank),37.33,5632.6,3.349,93.862108,PEAR_LEO,...,0.0,0.0,0.0,0.0,0.0,0.0,795.0,(blank),0,1.332
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2356,NaN,(BLGK78-83)7G-2603-AA14-45-2,3.028,1.120,(blank),36.99,2830.7,2.785,91.974901,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,366.0,(blank),NaN,1.120
2368,NaN,(BLGK78-85)6G-141776-BAF2-32-2,2.895,0.891,(blank),30.78,2254.8,2.663,91.986183,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,955.0,(blank),NaN,0.891
2370,FINAL,(BLGK78-85)6G-141776-BAF2-32-2,2.895,0.963,(blank),33.26,2355.4,2.654,91.675302,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,956.0,(blank),NaN,0.963
2435,NaN,(BLGK78-95)6G-142091-AG37-12-15,3.711,1.604,(blank),43.22,5590.0,3.430,92.427917,EMERALD 4STEP,...,0.0,0.0,0.0,0.0,0.0,0.0,1758.0,(blank),NaN,1.604
2452,FINAL,(BLGK78-98)6G-139678-AA75-46-13,3.455,1.250,(blank),36.18,2925.0,3.168,91.693198,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,192.0,(blank),NaN,1.250

In [37]:
df[((df['TOP-1 POLISH WAIGHT-2']==weight) | (df['TOP-2 POLISH WAIGHT-2']==weight) | (df['TOP-3 POLISH WAIGHT']==weight) | 
   (df['TOP-4 POLISH WAIGHT']==weight) | (df['TOP-5 POLISH WAIGHT-2']==weight) | (df['TOP-6 POLISH WAIGHT']==weight) |
   (df['TOP-7 POLISH WAIGHT']==weight) | (df['TOP-8 POLISH WAIGHT']==weight) | (df['TOP-9 POLISH WAIGHT']==weight) |
   (df['TOP-10 POLISH WAIGHT']==weight) | (df['TOP-11 POLISH WAIGHT']==weight) | (df['TOP-12 POLISH WAIGHT']==weight) |
   (df['TOP-13 POLISH WAIGHT']==weight) | (df['TOP-14 POLISH WAIGHT']==weight) | (df['TOP-15 POLISH WAIGHT']==weight) |
   (df['TOP-16 POLISH WAIGHT']==weight) | (df['TOP-17 POLISH WAIGHT']==weight) | (df['TOP-18 POLISH WAIGHT']==weight) |
   (df['TOP-19 POLISH WAIGHT']==weight) | (df['TOP-20 POLISH WAIGHT']==weight))
  ]

Empty DataFrame
Columns: [BLGD SELECTION, BARCODE, ROUGH, T. POLISH, ROUGH GREAD , TOTAL YIELD , TOTAL VALUE, TP RCRT, TRYld, TOP-1 SHAPE NAME, TOP-1 POLISH WAIGHT-2, TOP-1 CUT GRADE, TOP-1 VALUE, TOP-2 SHAPE NAME, TOP-2 POLISH WAIGHT-2, TOP-2 CUT GRADE-2, TOP-3 SHAPE NAME, TOP-3 POLISH WAIGHT, TOP-3 CUT GRADE, TOP-4 SHAPE NAME, TOP-4 POLISH WAIGHT, TOP-4 CUT GRADE, TOP-5 SHAPE NAME, TOP-5 POLISH WAIGHT-2, TOP-5 CUT GRADE-2, TOP-6 SHAPE NAME, TOP-6 POLISH WAIGHT, TOP-6 CUT GRADE, TOP-7 SHAPE NAME, TOP-7 POLISH WAIGHT, TOP-7 CUT GRADE, TOP-8 SHAPE NAME, TOP-8 POLISH WAIGHT, TOP-8 CUT GRADE, TOP-9 SHAPE NAME, TOP-9 POLISH WAIGHT, TOP-9 CUT GRADE, TOP-10 SHAPE NAME, TOP-10 POLISH WAIGHT, TOP-10 CUT GRADE, TOP-11 SHAPE NAME, TOP-11 POLISH WAIGHT, TOP-11 CUT GRADE, TOP-12 SHAPE NAME, TOP-12 POLISH WAIGHT, TOP-12 CUT GRADE, TOP-13 SHAPE NAME, TOP-13 POLISH WAIGHT, TOP-13 CUT GRADE, TOP-14 SHAPE NAME, TOP-14 POLISH WAIGHT, TOP-14 CUT GRADE, TOP-15 SHAPE NAME, TOP-15 POLISH WAIGHT, TOP-15 CUT GRADE, TOP-16 SHAPE NAME, TOP-16 POLISH WAIGHT, TOP-16 CUT GRADE, TOP-17 SHAPE NAME, TOP-17 POLISH WAIGHT, TOP-17 CUT GRADE, TOP-18 SHAPE NAME, TOP-18 POLISH WAIGHT, TOP-18 CUT GRADE, TOP-19 SHAPE NAME, TOP-19 POLISH WAIGHT, TOP-19 CUT GRADE, TOP-20 SHAPE NAME, TOP-20 POLISH WAIGHT, TOP-20 CUT GRADE, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, DIAMOND TYP, opt, Unnamed: 92, Total_pieces_weight]
Index: []

[0 rows x 94 columns]

,BLGD SELECTION,BARCODE,ROUGH,T. POLISH,ROUGH GREAD,TOTAL YIELD,TOTAL VALUE,TP RCRT,TRYld,TOP-1 SHAPE NAME,...,15,16,17,18,19,20,DIAMOND TYP,opt,Unnamed: 92,Total_pieces_weight
0,NaN,(BLGK78-1)6G-150186-BBE40-23-1,3.233,1.142,(blank),35.32,3472.0,2.949,91.215589,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,220.0,(blank),0,1.142
1,FINAL,(BLGK78-1)6G-150186-BBE40-23-1,3.233,1.207,(blank),37.33,3060.0,3.023,93.504485,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,221.0,(blank),FINAL,1.207
2,NaN,(BLGK78-1)6G-150186-BBE40-23-1,3.233,1.273,(blank),39.38,5536.0,2.990,92.483761,OVAL_LEO - Copy,...,0.0,0.0,0.0,0.0,0.0,0.0,218.0,(blank),0,1.273
3,NaN,(BLGK78-1)6G-150186-BBE40-23-1,3.233,1.337,(blank),41.35,1329.0,3.067,94.865450,EMERALD 4STEP,...,0.0,0.0,0.0,0.0,0.0,0.0,219.0,(blank),0,1.337
6,NaN,(BLGK78-10)6G-143070-BAF21-35-4,3.058,0.937,(blank),30.64,2821.0,2.840,92.871158,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,202.0,(blank),0,0.937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2453,NaN,(BLGK78-98)6G-139678-AA75-46-13,3.455,1.462,(blank),42.32,1916.0,3.286,95.108538,EMERALD 4STEP,...,0.0,0.0,0.0,0.0,0.0,0.0,190.0,(blank),NaN,1.462
2456,NaN,(BLGK78-99)6G-139840-AG28-15-9,3.206,1.116,(blank),34.81,4340.0,2.988,93.200250,OVAL_LEO - Copy,...,0.0,0.0,0.0,0.0,0.0,0.0,1298.0,(blank),NaN,1.116
2457,NaN,(BLGK78-99)6G-139840-AG28-15-9,3.206,1.222,(blank),38.12,2867.0,2.977,92.857143,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,1301.0,(blank),NaN,1.222
2458,FINAL,(BLGK78-99)6G-139840-AG28-15-9,3.206,1.228,(blank),38.30,2861.0,2.977,92.857143,ROUND,...,0.0,0.0,0.0,0.0,0.0,0.0,1300.0,(blank),NaN,1.228
2459,NaN,(BLGK78-99)6G-139840-AG28-15-9,3.206,1.365,(blank),42.58,4910.0,2.987,93.169058,EMERALD 4STEP,...,0.0,0.0,0.0,0.0,0.0,0.0,1299.0,(blank),NaN,1.365