In [4]:
import pandas as pd
import numpy as np
import os

In [5]:
mainDF = pd.read_excel("Data\September_09\\ZoneWiseReportPivot.xlsx")
mainDF.head()

  Machine  HAIR LINE     HEAVY    MEDIUM  ZONE Total
0     AA1   0.021739  0.043478  0.021739    0.086957
1    AA10   0.019608  0.039216  0.137255    0.196078
2    AA11   0.147059  0.073529  0.044118    0.264706
3    AA12   0.137255  0.058824  0.098039    0.294118
4    AA13   0.080000  0.020000  0.040000    0.140000

In [6]:
final_zone = mainDF[["Machine", "HEAVY", "MEDIUM"]]
final_zone.head()

  Machine     HEAVY    MEDIUM
0     AA1  0.043478  0.021739
1    AA10  0.039216  0.137255
2    AA11  0.073529  0.044118
3    AA12  0.058824  0.098039
4    AA13  0.020000  0.040000

In [7]:
final_zone.isnull().sum()

Machine      0
HEAVY      163
MEDIUM     209
dtype: int64

In [8]:
final_zone.fillna(0,inplace=True)

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10320\1374821920.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_zone.fillna(0,inplace=True)

In [9]:
final_zone.isnull().sum()

Machine    0
HEAVY      0
MEDIUM     0
dtype: int64

In [10]:
final_zone.HEAVY = pd.to_numeric(final_zone.HEAVY)
final_zone.MEDIUM = pd.to_numeric(final_zone.MEDIUM)
final_zone["Zone_total"] = final_zone["HEAVY"] + final_zone["MEDIUM"]

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10320\846158253.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_zone.HEAVY = pd.to_numeric(final_zone.HEAVY)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_10320\846158253.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_zone.MEDIUM = pd.to_numeric(final_zone.MEDIUM)
C:\Users\Administrator\AppData\Local\Temp\ipykernel_10320\846158253.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_zone["Zone_total"] = final_zone["HEAVY"] + final_zone["MEDIUM"]

In [11]:
def add_sorting_rank_to_column(temp_df, column_name, ascending_order=True):
    temp_df[column_name] = pd.to_numeric(temp_df[column_name])
    temp_df = temp_df.sort_values(by=[column_name], ascending=ascending_order).reset_index()
    temp_df.index.name = column_name + "_rank"
    temp_df = temp_df.reset_index()
    temp_df[column_name + "_rank"] += 1
    temp_df.index.name = "delete_" + column_name
    return temp_df

In [12]:
final_zone = add_sorting_rank_to_column(final_zone,"Zone_total").set_index("index")
final_zone = final_zone.sort_index()

C:\Users\Administrator\AppData\Local\Temp\ipykernel_10320\2241940988.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp_df[column_name] = pd.to_numeric(temp_df[column_name])

In [13]:
final_zone = final_zone[['Machine', 'HEAVY', 'MEDIUM', 'Zone_total', 'Zone_total_rank']]
final_zone = final_zone.rename(columns={'HEAVY':'Zone_HEAVY', 'MEDIUM':'Zone_MEDIUM'})

In [14]:
if (final_zone.index[0]==0):
    final_zone.index += 1

In [15]:
if os.path.exists("zoneReport.xlsx"):
    os.remove("zoneReport.xlsx")
    
final_zone.to_excel("zoneReport.xlsx", index_label="ID", header=1)

In [16]:
final_zone

      Machine  Zone_HEAVY  Zone_MEDIUM  Zone_total  Zone_total_rank
index
1         AA1    0.043478     0.021739    0.065217              297
2        AA10    0.039216     0.137255    0.176471              769
3        AA11    0.073529     0.044118    0.117647              525
4        AA12    0.058824     0.098039    0.156863              703
5        AA13    0.020000     0.040000    0.060000              270
...       ...         ...          ...         ...              ...
1013     CC16    0.072464     0.057971    0.130435              576
1014     CC17    0.014286     0.028571    0.042857              207
1015     CC20    0.013889     0.013889    0.027778              147
1016     CC21    0.045455     0.015152    0.060606              273
1017     CC22    0.035714     0.017857    0.053571              240

[1017 rows x 5 columns]